<form #updateUserForm="ngForm" autocomplete="off" novalidate (ngSubmit)="CreateUser(createUserForm)">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h3>User Creation</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            First Name
          </div>
          <div class="col-xs-3 col-sm-4">
            <input required id="firstName" class="form-control" name="firstName" type="text" [(ngModel)]="userdetail.firstName"
              #firstName="ngModel" />
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="firstName.invalid && firstName.touched">FirstName is required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            Middle Name
          </div>
          <div class="col-xs-3 col-sm-4">
            <input required id="middleName" class="form-control" name="middleName" type="text" [(ngModel)]="userdetail.middleName"
              #middleName="ngModel" />
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="middleName.invalid && middleName.touched">MiddleName is required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            Last Name
          </div>
          <div class="col-xs-3 col-sm-4">
            <input required id="LastName" [(ngModel)]="userdetail.lastName" #lastName="ngModel" class="form-control"
              name="lastName" type="text" />
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="lastName.invalid && lastName.touched">LastName is required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            Father Name
          </div>
          <div class="col-xs-3 col-sm-4">
            <input required id="fatherName" [(ngModel)]="userdetail.fatherName" #fatherName="ngModel" class="form-control"
              name="fatherName" type="text" />
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="fatherName.invalid && fatherName.touched">FatherName is required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            DOB
          </div>
          <div class="col-xs-3 col-sm-4">
            <input required id="DOB" [(ngModel)]="userdetail.dOB" #dOB="ngModel" bsDatepicker [bsConfig]="datePickerConfig"
              class="form-control" name="DOB" type="text" />
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="dOB.invalid && dOB.touched">Date of birth is required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            Gender
          </div>
          <div class="col-xs-3 col-sm-4">
            <select class="form-control" name="gender" [(ngModel)]="userdetail.gender" #gender="ngModel" id="Gendertype"
               appSelectValidator="Select">
              <option value="Select">Select Gender</option>
              <option *ngFor="let gender of genderLst" [value]="gender.id">
                {{gender.name}}
              </option>
            </select>
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="gender.touched && gender.errors?.defaultSelected">Gender is required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            Contact No
          </div>
          <div class="col-xs-3 col-sm-4">
            <input required id="contactno" class="form-control" name="contactno" [pattern]="mobnumPattern" type="text"
              [(ngModel)]="userdetail.contactNo" #contactNo="ngModel" />
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="contactNo.errors?.required && contactNo.touched">contactNo is required</em>
            <em *ngIf="contactNo.errors && contactNo.errors.pattern && contactNo.touched">Mobile number not valid</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            Address1
          </div>
          <div class="col-xs-3 col-sm-4">
            <input required id="Address1" class="form-control" name="Address1" type="text" [(ngModel)]="userdetail.address1"
              #address1="ngModel" />
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="address1.invalid && address1.touched">address1 is required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            Address2
          </div>
          <div class="col-xs-3 col-sm-4">
            <input id="Address2" class="form-control" name="address2" type="text" [(ngModel)]="userdetail.address2"
              #address2="ngModel" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            Address3
          </div>
          <div class="col-xs-3 col-sm-4">
            <input id="Address3" class="form-control" type="text" name="address3" [(ngModel)]="userdetail.address3"
              #address3="ngModel" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            LoginID
          </div>
          <div class="col-xs-3 col-sm-4">
            <input required id="LoginID" class="form-control" name="LoginID" type="text" [(ngModel)]="userdetail.loginID"
              #loginID="ngModel" />
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="loginID.invalid && loginID.touched">loginID is required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            EmailID
          </div>
          <div class="col-xs-3 col-sm-4">
            <input id="EmailID" class="form-control" required [email]="userdetail.email!==''" name="EmailID" type="text"
              [(ngModel)]="userdetail.email" #email="ngModel" />
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="email.errors?.required && email.touched">email is required</em>
            <em *ngIf="email.errors?.email && email.touched">email must be valid email address</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            Activated
          </div>
          <div class="col-xs-3 col-sm-4">
            <input required id="Activated" class="form-control" name="activeStatus" type="checkbox" [(ngModel)]="userdetail.activeStatus"
              #activeStatus="ngModel" />
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="activeStatus.touched && activeStatus.errors?.required">Activate required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            ProfileID
          </div>
          <div class="col-xs-3 col-sm-4">
            <select class="form-control" name="profileId" id="profiletype" [(ngModel)]="userdetail.profileId"
              #profile="ngModel"  appSelectValidator="-1">
              <option value="-1">Select Profile</option>
              <option *ngFor="let profile of profilelst" [value]="profile.id">
                {{profile.name}}
              </option>
            </select>
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="profile.touched && profile.errors?.defaultSelected">profile is required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            Terminal Code
          </div>
          <div class="col-xs-3 col-sm-4">
            <select class="form-control" name="P1" id="P1" [(ngModel)]="userdetail.p1"
              #Terminal="ngModel"  appSelectValidator="Select">
              <option value="Select">Select Terminal</option>
              <option *ngFor="let terminal of terminalst" [value]="terminal.id">
                {{terminal.name}}
              </option>
            </select>
          </div>
          <div class="col-xs-3 col-sm-4">
            <em *ngIf="Terminal.touched && Terminal.errors?.defaultSelected">Terminal is required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            Airline
          </div>
          <div class="col-xs-3 col-sm-4">
            <select class="form-control" name="Airlinetype" id="Airlinetype">
              <option *ngFor="let Airline of lstAirline" [value]="Airline.airlineCode">
                {{Airline.airlineName}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
          </div>
          <div class="col-xs-3 col-sm-4">
            <input type="submit" class="btn btn-success" [disabled]="!createUserForm.valid" value="Update User" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>