<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <a>Create owner</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
                View <select (change)="selectChangeHandler($event.target.value)" (ngModel)="itemsPerPage.id" >
                        <option *ngFor="let item of itemsPerPages" value= {{item.id}}>
                            {{item.name}}
                        </option>
                    </select> records at a time.
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Login Id</th>
                        <th>User Name</th>
                        <th>Email ID</th>
                        <th>Lock Status</th>
                        <th>Active Status</th>
                        <th>Date Of Birth</th>
                        <th>Reset Password</th>
                        <th>Terminal Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of vwUserDetail | paginate: { itemsPerPage: perpage, currentPage: p }">
                        <th></th>
                        <td>{{item.loginID}}</td>
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.lockStatus}}</td>
                        <td>{{item.activeStatus}}</td>
                        <td>{{item.dob | date: 'dd/MM/yyyy'}}</td>
                        <td></td>
                        <td>{{item.p1}}</td>
                    </tr>
                </tbody>
            </table>
        </div>        
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>