<form [formGroup]="UserRoleMapModal.formUserRoleMapGroup" autocomplete="off" novalidate>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h3>Role User map</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12" style="height:10px">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="row">
        <div class="col-xs-3 col-sm-3">
          Role Name
        </div>
        <div class="col-xs-3 col-sm-3">
            <input formControlName="customSelectedControl" [(ngModel)]="UserRoleMapModal.customSelected" [typeahead]="vsecRoleMst" typeaheadOptionField="displayName" class="form-control"  [typeaheadScrollable]="true"
            [typeaheadOptionsInScrollableView]="5">
            <pre class="card card-block card-header mb-3">Model: {{UserRoleMapModal.customSelected | json}}</pre>
        </div>
        <div class="col-xs-3 col-sm-3">
            Users
        </div>
        <div class="col-xs-3 col-sm-3">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12" style="height:10px">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12" style="height:10px">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Role Short Name</th>
              <th>Role Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12" style="height:10px">
    </div>
  </div>
</div>
</form>