<div class="container">
  <form [formGroup]="formUserRoleMapGroup" autocomplete="off" novalidate (ngSubmit)="GetAllMappedRolesUsers()">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h3>Role User map</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-xs-3 col-sm-3">
            <label for="customSelectedControl">Role Name</label>
          </div>
          <div class="col-xs-3 col-sm-3">
            <input required formControlName="customSelectedControl" [(ngModel)]="customSelected" [typeahead]="vsecRoleMst"
              typeaheadOptionField="displayName" class="form-control" [typeaheadScrollable]="true"
              [typeaheadOptionsInScrollableView]="5" (typeaheadOnSelect)="onSelect($event)" placeholder="Select RoleName">

            <div *ngIf="formErrors.customSelectedControl">
              {{ formErrors.customSelectedControl }}
            </div>

          </div>
          <div class="col-xs-3 col-sm-3">
            <label for="statusSelectedControl">Users</label>
          </div>
          <div class="col-xs-3 col-sm-3">
            <select required class="form-control" formControlName="statusSelectedControl" name="Status" id="Statustype"
              (change)="getSelectedOptionText($event)">
              <option value="" selected>Please select</option>
              <option *ngFor="let status of statusLst" [value]="status.id">
                {{status.name}}
              </option>
            </select>
            <div *ngIf="formErrors.statusSelectedControl">
              {{ formErrors.statusSelectedControl }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-xs-3 col-sm-3">
          </div>
          <div class="col-xs-3 col-sm-3">
          </div>
          <div class="col-xs-3 col-sm-3">
          </div>
          <div class="col-xs-3 col-sm-3">
            <input type="submit" class="btn btn-success" value="Search" [disabled]="!formUserRoleMapGroup.valid" />
            <input type="button" class="btn btn-success" value="Clear" [disabled]="!formUserRoleMapGroup.valid"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="height:10px">
      </div>
    </div>
    <div class="row">
      View <select (change)="selectChangeHandler($event.target.value)" (ngModel)="itemsPerPage.id">
        <option *ngFor="let item of itemsPerPages" value={{item.id}}>
          {{item.name}}
        </option>
      </select> records at a time.
      <div class="col-xs-12 col-sm-12">
        <div class="container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>User Name</th>
                <th>login ID</th>
                <th>Email ID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of vwUserDetail | paginate: { itemsPerPage: perpage, currentPage: p }">
                <td><input type="checkbox" value="{{item.loginMId}}" (change)="onCheckboxChange(item,$event)" /></td>
                <td>{{item.name}}</td>
                <td>{{item.loginID}}</td>
                <td>{{item.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12" style="height:10px">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-3">
            <input type="button" class="btn btn-success" value="Allocate" [disabled]="!AllocateFlag" (click)="Allocate(template)"/>
            <input type="button" class="btn btn-success" value="DeAllocate" [disabled]="!DeAllocateFlag" (click)="Allocate(template)"/>
        </div>
        <div class="col-xs-3 col-sm-3">
        </div>
        <div class="col-xs-3 col-sm-3">
        </div>
        <div class="col-xs-3 col-sm-3">
        </div>
    </div>
    <ng-template #template>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Modal</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="redirectToRoleList()">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div *ngIf="AllocateFlag" class="modal-body">
          Role is allocate for selected users successfully.
      </div>
      <div *ngIf="DeAllocateFlag" class="modal-body">
        Role is deallocate for selected users successfully.
    </div>
  </ng-template>
  </form>
</div>