<div class="container">
  <form [formGroup]="formUserRoleMapGroup" autocomplete="off" novalidate>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h3>Role User map</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-xs-3 col-sm-3">
            <label for="customSelectedControl">Role Name</label>
          </div>
          <div class="col-xs-3 col-sm-3">
            <input required formControlName="customSelectedControl" [(ngModel)]="customSelected" [typeahead]="vsecRoleMst"
              typeaheadOptionField="displayName" class="form-control" [typeaheadScrollable]="true"
              [typeaheadOptionsInScrollableView]="5" (typeaheadOnSelect)="onSelect($event)" placeholder="Select RoleName">

            <div *ngIf="formErrors.customSelectedControl">
              {{ formErrors.customSelectedControl }}
            </div>

          </div>
          <div class="col-xs-3 col-sm-3">
            <label for="statusSelectedControl">Users</label>
          </div>
          <div class="col-xs-3 col-sm-3">
            <select required class="form-control" formControlName="statusSelectedControl" name="Status" id="Statustype">
              <option value="" selected>Please select</option>
              <option *ngFor="let status of statusLst" [value]="status.id">
                {{status.name}}
              </option>
            </select>
            <div *ngIf="formErrors.statusSelectedControl">
              {{ formErrors.statusSelectedControl }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-xs-3 col-sm-3">
          </div>
          <div class="col-xs-3 col-sm-3">
          </div>
          <div class="col-xs-3 col-sm-3">
          </div>
          <div class="col-xs-3 col-sm-3">
            <input type="submit" class="btn btn-success" value="Search" [disabled]="!formUserRoleMapGroup.valid"/>
            <input type="button" class="btn btn-success" value="Clear"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="height:10px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>User Name</th>
                <th>login ID</th>
                <th>Email ID</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="height:10px">
      </div>
    </div>
  </form>
</div>